*~
**/.RData
**/.Rhistory
/components/
/node_modules/
/test.config.json
/.Rbuildignore
**/.cookies.txt
/tests/testthat/vds_hour_agg.718204.2012.dat
/tests/testthat/vds_hour_agg.1211682.2012.dat
/man/
